<!DOCTYPE html>
<html lang="en">
{{> bootstrap-header }}
<body>
  {{> navbar }}
  {{> hero }}
  <div class="container mt-20">
    <div>Chatblast.me is set up for your account. You can generate blaster shortcuts until your auth tokens expire. If you need to generate more shortcuts after they expire, you can just click the "Add to Slack" button again.</div>
  </div>
  <div class="container mt-20"></div>

  {{> add-to-slack }}

  <div class="spacer"></div>

  {{> bootstrap-footer }}
</body>
</html>
